<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <h1>Prodcts</h1>
    <div class="row">
       <div class="col-12 col-md-6 col-lg-4 outer">
            <app-product-element></app-product-element>
       </div> 
       <div class="col-12 col-md-6 col-lg-4 outer">
            <app-product-element></app-product-element>
        </div>
        <div class="col-12 col-md-6 col-lg-4 outer">
            <app-product-element></app-product-element>
        </div> 
    </div>
</div>
