<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <h1>Prodcts</h1>
    <div class="row">
        <div class="col-6">
            <form [FormGroup]="searchForm">
              <input type="search" name="" id="" class="form-control" placeholder="search here">
            </form>
          </div>
    </div>
    <div class="row">
       <div class="col-12 col-md-6 col-lg-4 outer" *ngFor = "let tempData of dataList">
            <app-product-element [data]="tempData"></app-product-element>
       </div>  
    </div>

    <mat-paginator
        [length]="count"
        [pageIndex]="page"
        [pageSize]="size"
        [pageSizeOptions]="[1,10,20,30,40,50,60,70,80,90,100]"
        (page)="getServerData($event)">
    </mat-paginator>

</div>
